<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Midjourney Images DB</h1>
    <h2>Status</h2>
    <p>The server is up.</p>
    <h2>Links</h2>
    <a href="/show">slide show</a>
    <a href="/images">images</a>
</body>
</html>