<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>Midjourney Images DB</h1>
    <h2>Status</h2>
    <p>The server is up.</p>
    <h2>Links</h2>
    <a href="/show">slide show</a><br />
    <a href="/images">images</a><br />
    <a href="/tools">tools</a>
    <label>Set Run Enabled</label>
    <input type="checkbox" id="download" name="download" value="false">
    
</body>

</html>